An1me_tracker/backend/.env
An1me_tracker/backend/package-lock.json
An1me_tracker/backend/serviceAccountKey.json
An1me_tracker/X.backup
An1me_tracker/An1me_tracker.zip

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
