PORT=3000
APP_NAME=An1me Tracker

SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=resend
SMTP_PASS=your_resend_smtp_password
SMTP_FROM_NAME=An1me Tracker
SMTP_FROM_EMAIL=noreply@thomast.uk

RESEND_API_KEY=

ACTION_URL=https://thomast.uk/reset
ALLOWED_ORIGIN=https://thomast.uk

FIREBASE_SERVICE_ACCOUNT_BASE64=
